* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
p {
    width: 70%;
    margin: auto;
    margin-top: 300px;
    text-align: center;
    line-height: 1.6rem;
}
nav {
    background-color: aquamarine;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.container {
    width: 80%;
    margin: auto;
}
.square {
    border: 1px solid #000;
    height: 400px;
    margin-top: 7rem;
    position: relative;

}
.ball {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#top {
    position: absolute;
    top: 0;
}
.btn {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: fixed;
    top: 80%;
    right: 0;
}