h1 {
    color: blue; 
    background-color: aqua; 
}

p {
    color: pink;
}

small { 
    color: rgb(0, 0, 255);
}

.post p,
.sm {
    color: green;
}
/* .sm {
    color: chocolate;
} */

#post-2 {

}